<html style="background-color:#edecec">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="generator" content="Web Analytics Italia">
</head>

<body style="{{fontStyle|raw}} line-height: 24px; margin:50px auto; max-width:1000px; background-color:rgb(255, 255, 255);box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);">

<a name="reportTop"></a>

<table style="width:100%;background-color:#0066cc;padding:10px 0;margin:0 0 25px 0;height:96px;">
    <tr>
        <td>
            <a style="{{ fontStyle|raw }}; font-size:16px;padding:0 15px;color:{{ themeStyles.colorHeaderText|e('html_attr') }};height:22px;vertical-align:inherit;" rel="noreferrer noopener" target="_blank" href="https://webanalytics.italia.it">
                <img src="{{ piwikUrl }}/plugins/WAIMatomoTheme/svg/wai-logo.svg" height="50px" width="auto" style="vertical-align:middle;"
                alt="Web Analytics Italia" /><span style="vertical-align:middle;margin-left:20px;font-weight:600;display:inline-block;font-size:24px">
                    Web Analytics Italia
                </span>
            </a>
        </td>
    </tr>
</table>

<div style="margin:0 20px;">
