$header-center-bg-color: $primary;
$header-center-bg-secondary-color: #1474d4;
$header-center-bg-tertiary-color: #0053a5;
$header-wrapper-color: #19191a;
$header-badge-bg-color: #0051a2;
$navbar-bg-color: $white;
$navbar-item-color: $neutral-1;
$navbar-active-item-underline-color: $blue;
$second-navbar-active-item-bg-color: rgba(255, 255, 255, .9);
$second-navbar-item-color: $primary;
$second-navbar-main-item-color: $neutral-1;
$second-navbar-item-hover-color: $neutral-1;
$second-navbar-active-item-color: $primary;