// Top Controls bar
#root {
  > .top_controls {
    @include make-wai-container();
    background-color: transparent;
    @include media-breakpoint-up(md) {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding-left: 248px; //224 secondNavBar + 6 container + 18 pageWrap
    }

    //Site selector
    .siteSelector {
      .dropdown {
        a {
          @include make-menu-font();
        }
      }
    }

    //Date selector
    .periodSelector {
      .dropdown {
        h6, h6 > input {
          @include make-menu-font();
        }

        .period-type #otherPeriods p label {
          @include make-menu-font();
        }

        input.btn {
          @include make-menu-font-size();
        }
      }
    }

    //Segment editor
    .segmentEditorPanel {
      .dropdown {
        .segmentList {
          .segname {
            @include make-menu-font();
          }
        }
        a, input {
          @include make-menu-font();
        }
      }
    }

    .dashboard-manager {
      .dropdown {
        ul.submenu, ul.widgetpreview-widgetlist {
          li {
            @include make-menu-font();
            color: $primary;
          }
          li div, li.generalAction {
            @include make-menu-font();
            color: $neutral-1;
            text-transform: uppercase;
          }
        }
      }
    }

    .piwikSelector {
      display: block;

      span.title, a.title, span.icon {
        @include make-menu-font();
        @include make-ellipsis-font();

        span.segmentationTitle {
          display: block;
          @include make-ellipsis-font();
        }
      }
    }

    .piwikTopControl {
      @include make-menu-font-size(16px);
      vertical-align: middle;
    }

    .quick-access {
      height: 45px;
      position: relative;
      z-index: 0;

      @include media-breakpoint-down(600px) {
        position: relative !important;
      }

      @include media-breakpoint-up(md) {
        flex: auto;
        margin-left: 50px;
      }

      .icon-search {
        @include make-menu-font();
        @include media-breakpoint-down(600px) {
          left: 10px !important;
        }
      }

      input {
        @include make-menu-font(16px, 24px);
        height: 45px;
      }

      .dropdown li {
        @include make-menu-font();
      }
    }

    .segmentationContainer ul.submenu > li {
      @include make-menu-font(16px, 24px);

      span.segname {
        max-width: 150px;
      }

      span.editSegment {
        background: url("plugins/SegmentEditor/images/edit_segment.png") no-repeat center;
        height: 24px;
        width: 24px;
      }
    }

    .icon-arrowup::before, .icon-arrowdown::before {
      padding: 0 !important;
    }
  }
}
