<div class="row no-data-tabs-main-div">
    <div id="tracking-code" class="col s12">
        <p>{{ 'CoreAdminHome_JSTracking_CodeNoteBeforeClosingHead'|translate("&lt;/head&gt;")|raw }}</p>
        <div>
            <pre matomo-copy-to-clipboard>{{ jsTag|raw }}</pre>
        </div>
    </div>
</div>
