<!-- Background -->
<div class="h-bars">
    <div class="graphic-container">
        <svg viewBox="0 0 256 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M255.028 65.2548C255.028 61.2286 251.764 57.9648 247.738 57.9648L-74.21 57.9648C-78.2361 57.9648 -81.5 61.2286 -81.5 65.2548V79.4072C-81.5 83.4333 -78.2361 86.6972 -74.21 86.6972L247.738 86.6972C251.764 86.6972 255.028 83.4333 255.028 79.4072L255.028 65.2548ZM135.302 180.099C135.302 175.128 131.272 171.099 126.302 171.099L-72.5 171.099C-77.4706 171.099 -81.5 175.128 -81.5 180.099V190.831C-81.5 195.802 -77.4705 199.831 -72.5 199.831L126.302 199.831C131.272 199.831 135.302 195.802 135.302 190.831V180.099ZM43.8798 0.5C47.906 0.5 51.1698 3.76384 51.1698 7.79V21.9424C51.1698 25.9686 47.906 29.2324 43.8798 29.2324L-74.21 29.2324C-78.2361 29.2324 -81.5 25.9686 -81.5 21.9424V7.78999C-81.5 3.76384 -78.2361 0.5 -74.21 0.5L43.8798 0.5ZM187.075 120.924C187.075 116.898 183.812 113.634 179.785 113.634L-74.21 113.634C-78.2361 113.634 -81.5 116.898 -81.5 120.924V135.076C-81.5 139.102 -78.2361 142.366 -74.21 142.366L179.785 142.366C183.812 142.366 187.075 139.102 187.075 135.076V120.924Z" fill="#B3D9FF"/>
        </svg>
    </div>
</div>
<div class="v-bars">
    <div class="graphic-container">
        <svg viewBox="0 0 256 212" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M226.674 9.94531C226.674 4.97475 230.703 0.945313 235.674 0.945313L246.406 0.945313C251.377 0.945313 255.406 4.97475 255.406 9.94531L255.406 202.945C255.406 207.916 251.377 211.945 246.406 211.945H235.674C230.703 211.945 226.674 207.916 226.674 202.945L226.674 9.94531ZM171.005 87.5774C171.005 82.6068 175.034 78.5774 180.005 78.5774H190.737C195.708 78.5774 199.737 82.6068 199.737 87.5774L199.737 202.945C199.737 207.916 195.708 211.945 190.737 211.945H180.005C175.034 211.945 171.005 207.916 171.005 202.945L171.005 87.5774ZM65.161 4.92644C61.1349 4.92644 57.871 8.19028 57.871 12.2164L57.871 204.655C57.871 208.681 61.1349 211.945 65.161 211.945H79.3134C83.3396 211.945 86.6034 208.681 86.6034 204.655L86.6034 12.2164C86.6034 8.19029 83.3396 4.92644 79.3134 4.92644L65.161 4.92644ZM0.40625 137.622C0.40625 133.596 3.67009 130.332 7.69625 130.332H21.8486C25.8748 130.332 29.1386 133.596 29.1386 137.622L29.1386 204.655C29.1386 208.681 25.8748 211.945 21.8486 211.945H7.69624C3.67009 211.945 0.40625 208.681 0.40625 204.655L0.40625 137.622ZM120.83 46.7283C116.804 46.7283 113.54 49.9922 113.54 54.0183L113.54 204.655C113.54 208.681 116.804 211.945 120.83 211.945H134.982C139.009 211.945 142.272 208.681 142.272 204.655L142.272 54.0183C142.272 49.9922 139.009 46.7283 134.982 46.7283L120.83 46.7283Z" fill="#B3D9FF"/>
        </svg>
    </div>
</div>
<div class="target">
    <div class="graphic-container">
        <svg viewBox="0 0 202 379" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.621815">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189.282 365.869C286.639 365.869 365.563 286.877 365.563 189.435C365.563 91.9925 286.639 13 189.282 13C91.924 13 13 91.9925 13 189.435C13 286.877 91.924 365.869 189.282 365.869Z" stroke="#B3D9FF" stroke-opacity="0.3" stroke-width="25.92"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189.282 310.835C256.271 310.835 310.576 256.482 310.576 189.435C310.576 122.387 256.271 68.0347 189.282 68.0347C122.292 68.0347 67.9868 122.387 67.9868 189.435C67.9868 256.482 122.292 310.835 189.282 310.835Z" stroke="#B3D9FF" stroke-opacity="0.3" stroke-width="19.44"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M189.282 249.325C222.33 249.325 249.12 222.511 249.12 189.435C249.12 156.358 222.33 129.544 189.282 129.544C156.234 129.544 129.443 156.358 129.443 189.435C129.443 222.511 156.234 249.325 189.282 249.325Z" fill="#B3D9FF" fill-opacity="0.3"/>
            </g>
        </svg>
    </div>
</div>
<!-- End Background -->
