<!-- SiteName Injection -->
{% if currentModule is same as('CoreHome') %}
<script type="text/javascript">
    $(() => {
        $(".activateTopMenu").filter(':last').before('<span id="siteName" class="">' + piwik.siteName + '</span>');
    });
</script>
{% endif %}
<!-- End SiteName Injection -->
